html {
  min-height: 100%;
}

@media (max-width: 1100px) {
  body {
    background: url(rickandmortysmall.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1101px) {
  body {
    background: url(RicknMorty.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1101px) {
  .title {
    display: none;
  }
}

@media (max-width: 1100px) {
  .title {
    font-family: "Creepster", cursive;
    display: flex;
    justify-content: center;
    color: rgb(50, 205, 50);
    font-size: 90px;
  }
}
.center {
  height: 35em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  display: flex;
  align-items: center;
}

form {
  margin: 0;
  color: rgba(50, 205, 50, 0);
}

.name {
  background-color: white;
  color: green;
  font-size: 40px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: auto;
  display: none;
}

#modal-textbox {
  background-color: rgba(255, 255, 255, 0.7);
  height: 400px;
  width: 700px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
